@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi');

body{
    color: #d2067d;
    background-color: #111;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Baloo Thambi', cursive;
    font-size: 5rem;

}

.container > span{
    animation: glow 2s ease-in-out infinite;

}

@keyframes glow{
    0%. 100%{
        color: white;
        text-shadow: 0 0 12px lime, 0 0 50px lime,0 0 100 lime;

    }
    10%, 90%{
         color: #111;
         text-shadow: none;
    }

}

.container > span:nth-child(2){
    animation-delay: 0s;

}

.container > span:nth-child(3){
    animation-delay: 0s;

}.container > span:nth-child(4){
    animation-delay: 0s;

}
.container > span:nth-child(5){
    animation-delay: 0s;

}
.container > span:nth-child(6){
    animation-delay: 0.60s;

}
.container > span:nth-child(7){
    animation-delay: 0.60s;

}

.container > span:nth-child(8){
    animation-delay: 0.60s;

}.container > span:nth-child(9){
    animation-delay: 0.60s;

}
.container > span:nth-child(10){
    animation-delay: 1.20s;

}
.container > span:nth-child(11){
    animation-delay: 1.20s;

}
.container > span:nth-child(12){
    animation-delay: 1.20s;

}

.container > span:nth-child(13){
    animation-delay: 1.80s;

}.container > span:nth-child(14){
    animation-delay: 1.80s;

}

